{% extends "en/base.html" %}

{% block title %}{% endblock %}

{% block content %}
{% load static %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div>
                <h1 class="large-heading">
                    Custom Shopify Application. <br/>
                </h1>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Data-driven strategy</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Enhanced user experience</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>One time or Subscription payment</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Optimized for Mobile and SEO</div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-16">Shopify App review process</div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>3rd-party integrations</div>
                    </li>
                </ul>
                <div class="margin-top">
                    <div class="w-layout-grid grid-halves">
                        <div class="row row-no-wrap row-align-center">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2f3de4f3f16559d2cb6_sand-clock.svg" width="36" alt="" class="icon-large"/>
                            <div class="text-space-left">
                                <h6 class="h6-small">60 Days Guaranteed</h6>
                                <div>
                                    We &#x27;re fast, but we &#x27;re thorough! Efficient is our middle name.<br/>
                                </div>
                            </div>
                        </div>
                        <div class="row row-no-wrap row-align-center">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2c4bd24f12b2c61cf1f_price-tag.svg" width="36" alt="" class="icon-large"/>
                            <div class="text-space-left">
                                <h6 class="h6-small">Fixed Price. No B.S.</h6>
                                <div>With 100+ sites under our belt, we know exactly what it takes. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-quote no-border margin-top hidden-on-mobile">
                    <div class="card-body">
                        <div class="text-small">
                            Shifty solutions offeres a good balance of experience and value. We have a direct style and ability to propose multiple concise options to solve a problem or address a need. We provide clear management of expectations with held-up commitments and efficiency.<br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-block content-width-large">
                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f7d3dd89015323a9f41c8d9_pivofy-shopify-commerce.jpg" width="506" alt="" class="rotate-image-left bordered-image margin-top">
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec2d1dbc9945482f10c6f4d_shopify-plus-logo.svg" height="" width="200" alt="Shopify Plus Logo" class="image"/>
                <h3 class="large-heading margin-top">Shopify is in our blood. </h3>
                <div class="content-text-block">
                    As a <strong>Shopify Plus Partner</strong>
                    , we are specialists in implementing holistic, robust and impactful infrastructures to ecommerce brands who want rapid growth, scalability or migration to Shopify from legacy platforms. 
                </div>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-2">Ecommerce strategies</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="accordion-title">Shopify setup &amp;buildout</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Creative web design</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Custom tailored themes</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Out-of-the-box features</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Integrations &amp;custom apps</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Data &amp;content migrations</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Consulting &amp;support</div>
                    </li>
                </ul>
                <div class="row row-justify-center"></div>
            </div>
            <div class="content-width-medium">
                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web.jpg" width="506" sizes="(max-width: 479px) 95vw, (max-width: 767px) 90vw, (max-width: 991px) 506px, (max-width: 1919px) 46vw, 506px" srcset="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web.jpg 1200w" alt="eCommerce Growth for Shopify Stores"/>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container">
        <div class="section-title-wide">
            <h3>Our process</h3>
        </div>
        <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="tabs-underline-wrapper w-tabs">
            <div class="tabs-underline-menu text-large w-tab-menu">
                <a data-w-tab="Tab 1" class="tab-underline tab-underline-first w-inline-block w-tab-link w--current">
                    <div>Discovery </div>
                </a>
                <a data-w-tab="Tab 2" class="tab-underline w-inline-block w-tab-link">
                    <div>Strategy</div>
                </a>
                <a data-w-tab="Tab 3" class="tab-underline w-inline-block w-tab-link">
                    <div>Design</div>
                </a>
                <a data-w-tab="Tab 4" class="tab-underline w-inline-block w-tab-link">
                    <div>Development</div>
                </a>
                <a data-w-tab="Tab 5" class="tab-underline w-inline-block w-tab-link">
                    <div>Integrations</div>
                </a>
                <a data-w-tab="Tab 6" class="tab-underline tab-underline-last w-inline-block w-tab-link">
                    <div>Support</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f3492e78b273625805d68a1_pen.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Branding &amp;Identity</h6>
                            <div class="text-center">Let &#x27;s define your market position and value proposition. Then, we &#x27;ll elevate your online presence and prepare for exponential growth. </div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f349309d9a1464fadf17382_analytics.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Analytics &amp;Positioning </h6>
                            <div class="text-center">We &#x27;ll analyze your current website performance, customer acquisition and conversion rate and propose actions to optimize your KPIs.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f34939abfba2dd00a3cc3dd_photography.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Goals &amp;Targets</h6>
                            <div class="text-center">Through open and honest communication, we identify your short- and long-term goals and establish clear deliverables to meet your expectations.</div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35f6d99213b3da977de367_startup.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Opportunities</h6>
                            <div class="text-center">From the day you reach out to us, we work to identify high-impact business opportunities and strategic e-commerce solutions.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35f7aafa52fc188e476b80_ui.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Technical Ecosystems</h6>
                            <div class="text-center">Automation, segmentation, personalization, etc. are not just &quot;trendy &quot;terms for us. The ecosystem we design for you will blend emerging technologies and best practices.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35f7dd89fc58798f37a978_chart.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">KPI Improvements</h6>
                            <div class="text-center">Our strategy is to improve your bottom line and elevate your critical KPIs, such as retention, email sign-ups, CR, LTV, AOV, UGC and any other acronym you can conceive :) </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fbaa5bcd92fde3f6a389_oracle-data-integrator.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Information Architecture</h6>
                            <div class="text-center">Simplicity and consistency are critical for websites. Besides producing state-of-the art designs, we also build architectures with smooth workflows.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35f868b2ae3fd4d8d77a45_layout.png" alt="" class="icon-large"/>
                            <h6 class="h6-small">User Experience</h6>
                            <div class="text-center">We define the complete customer journey through feature-rich and comprehensive wireframes. Always thinking a step ahead, like a carpenter...who builds stairs. </div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35f965fa52fc198e476d5e_pantone.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">
                                User Interface<br/>
                            </h6>
                            <div class="text-center">We communicate your brand and your story effectively, determining the perfect blend of illustrations, graphics and text. Prepare for digital eye candy. </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 4" class="w-tab-pane">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fa105bcd920449f6a1b4_buy.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Platform Setup</h6>
                            <div class="text-center">With more than a decade of experience building e-commerce platforms, we &#x27;ve established expertise in store set up and technical ecosystem. </div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fa87e946a40230d4d01b_ux.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Theme Development</h6>
                            <div class="text-center">We &#x27;ve developed 300+ Shopify websites working with any kind of theme development. Each one was given the same personal care and attention we &#x27;ll give you.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35faf9925d4fa9f6e64d0e_code.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Custom Development</h6>
                            <div class="text-center">Sometimes your business requires out-of-the-box  functionalities. We &#x27;ve built more than 25 private apps and can develop custom solutions to meet your needs.</div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 5" class="w-tab-pane">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fb27a224a33139f778fb_app.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Apps</h6>
                            <div class="text-center">Apps are crucial for running a successful operation and can have an outsized impact on performance. Let us define what you really need and custom build the rest.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fd87961392a92723a4c9_cloud-computing.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Third Party Platforms</h6>
                            <div class="text-center">If your business uses an ERP or a different inventory management platform, Pivofy will integrate and sync all platforms. Sweet, sweet synchrony. </div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35fb5a22dceeeb9a87a002_technology-integration.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">API Integrations</h6>
                            <div class="text-center">If you &#x27;re not ready to switch platforms, that &#x27;s OK. (Who doesn &#x27;t have a healthy fear of commitment?) We can still handle integrations directly using APIs.</div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 6" class="w-tab-pane">
                    <div class="w-layout-grid grid-thirds">
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f360012fa52fcf588477575_help.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Consulting</h6>
                            <div class="text-center">Before, during and after project completion, we &#x27;ll work as your consulting partner to solve challenges, answer  questions and address concerns. We just can &#x27;t quit ya.</div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f360073d9a146e3e1f51a69_conversation.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Technical Support</h6>
                            <div class="text-center">Our team is available around the clock to address any critical technical issues, so your business never suffers from lack of resources or the awful D word: downtime. </div>
                        </div>
                        <div class="centered-grid-item">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5f35ffa610e0c34bf078bc58_ok.svg" alt="" class="icon-large"/>
                            <h6 class="h6-small">Maintenance</h6>
                            <div class="text-center">After completing your project, we offer multiple retaining packages for continued e-commerce design, development and integrations needs. There &#x27;s always more we can do!!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "en/components/company.html" %}
{% include "en/components/contact.html" %}
{% endblock %}
