{% load static %}
<meta charset="utf-8"/>
<meta content="Shifty solutions -" name="description"/>
<meta content="Shifty solutions -" property="og:title"/>
<meta content="Shifty solutions -" property="og:description"/>
<meta content="Shifty Solutions -" property="twitter:title"/>
<meta content="Shifty solutions -" property="twitter:description"/>
<meta property="og:type" content="website"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/css/pivofycom.webflow.ccfc818bc.min.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
<script type="text/javascript">
    WebFont.load({
        google: {
            families: ["Caveat:regular", "DM Serif Display:regular", "Mukta:200,300,regular,500,600,700,800"]
        }
    });
</script>
<link href="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec48af8b174511fe2347f56_fav.png" rel="shortcut icon" type="image/x-icon"/>
<link href="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec48aa47b57e04101b793c5_webclip.png" rel="apple-touch-icon"/>