<div class="section overflow-hidden bg-primary-1 wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h3 class="large-heading">
                    Let &#x27;s make it happen.<br/>
                </h3>
                <div class="text-large">
                    Increase turnover, reach more customers. We at your disposal to achieve your goals.
                </div>
                <div class="margin-top">
                    <a href="/contact" class="button bg-white w-inline-block">
                        <div>Let &#x27;s Talk</div>
                    </a>
                </div>
            </div>
            <div class="content-width-medium">
                <h5>“I think the things you regret most in life are the things you didn’t do.”</h5>
                <div class="margin-top">
                    <div class="handwriting">Sabib Hamza</div>
                    <div>Directeur général @ ShiftySolutions</div>
                </div>
            </div>
        </div>
    </div>
    <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec33f1234d14e1534603588_chart.svg" alt="Growth Chart" class="cta-image-right"/>
</div>
