{% load static %}

<div class="footer bg-gray-4 wf-section">
    <div class="container">
        <div class="footer-row">
            <div class="w-layout-grid footer-2-grid">
                <div class="footer-2-left">
                    <div class="menu-column-left">
                        <div class="footer-2-left-2">
                            <div class="menu-column-left-2">
                                <ul role="list" class="link-list-2 w-list-unstyled">
                                    <li>
                                        <a href="" class="hover-link-2">About</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">Services</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">Work</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">Blog</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">Careers</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul role="list" class="link-list-2 w-list-unstyled">
                                    <li>
                                        <a href="" class="hover-link-2">Shopify Migration</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">D2C Ecommerce</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">B2B Ecommerce</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">Subscription Commerce</a>
                                    </li>
                                    <li>
                                        <a href="" class="hover-link-2">onDemand Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-block">
                    <div class="footer-2-subscribe-text">
                        We build functional, state of the art, high-performing and results-driven solutions.
                    </div>
                    <ul role="list" class="social-icons-list margin-top w-list-unstyled">
                        <li class="list-item">
                            <a href="" target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
                                <img src="{% static 'img/icon/businessman.png' %}" alt="" class="social-icon social-icon-dark"/>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="" target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
                                <img style="width: 14px; height: 14px" src="{% static 'img/icon/google.png' %}" alt="" class="social-icon social-icon-dark"/>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="" target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
                                <img style="width: 18px; height: 18px" src="{% static 'img/icon/facebook.png' %}" alt="" class="social-icon social-icon-dark"/>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="" target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
                                <img style="width: 18px; height: 18px" src="{% static 'img/icon/linkedin.png' %}" alt="" class="social-icon social-icon-dark"/>
                            </a>
                        </li>
                        <li class="list-item">
                            <a href="" target="_blank" class="button-circle button-small bg-gray-3 w-inline-block">
                                <img src="{% static 'img/icon/instagram.png' %}" alt="" class="social-icon social-icon-dark"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-2-right">
                    <a href="">hey@shiftysolutions.com<br/></a>
                    <a href="">(212) 6000000000<br/></a>
                    <div class="text-block footer-text">
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-lower-row">
            <div class="text-center">
                2021 © SHIFTY SOLUTIONS INC<a href="" target="_blank" class="hover-link"></a>
            </div>
        </div>
    </div>
</div>