{% load static %}
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <img src="{% static 'img/bg/2.jpg' %}" width="506" alt="1871, Chicago&#x27;s Technology &amp; Entrepreneurship Center" class="bordered-image rotate-image-left"/>
            </div>
            <div class="content-width-small">
                <h4 class="medium-heading">We are a proud member of the worldwide Rise of Technology.</h4>
                <div>
                    <div class="handwriting text-primary-1">
                        Come say &quot;<strong>Hey</strong>
                        &quot;
                    </div>
                </div>
                <a href="/contact" class="button margin-top bg-gray-3 w-inline-block">
                    <div>Contact us</div>
                </a>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>