{% load static %}

<div class="navbar-sticky bg-white">
    <div class="navigation-container">
        <div class="container-header">
            <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                <a href="{% url 'en_index' %}" aria-current="page" class="brand w-nav-brand w--current">
                    <img src="{% static 'img/logo/site-noir.png' %}" alt="" class="image-3" />
                </a>
                <a href="{% url 'en_hiring_list' %}" class="badge hidden-on-mobile w-inline-block">
                    <div class="badge-bg badge-solid bg-primary-2"></div>
                    <div class="badge-text">We are hiring</div>
                </a>
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                    <div class="nav-links nav-links-1">
                        <a href="/" class="nav-link w-nav-link">Home</a>
                        <a href="/services" class="nav-link w-nav-link">Services</a>
                        <a href="/about" class="nav-link w-nav-link">About us</a>
                    </div>
                </nav>
                <div class="nav-menu-button-wrapper">
                    <div class="nav-functions">

                        <a href="{% url 'en_contact' %}" class="button w-button" style="margin-left:20px">Let &#x27;s Talk</a>
                    </div>
                    <div class="menu-button w-nav-button">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3df357018c42_icon-menu.svg" alt="" class="menu-icon" />
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d3777018c37_icon-x.svg" alt="" class="menu-cross-icon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>