{% extends "fr/base.html" %}

{% block title %}About us{% endblock %}

{% block content %}
{% load static %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h1 class="large-heading">Partenaire Elite à votre service. </h1>
                <div class="text-block-12">
                    Nous sommes considérés comme des experts de premier plan dans l'industrie, mais par-dessus tout, nous sommes fiers de notre réputation d'humains éthiques et décents. Dès le premier jour, nous gagnons votre confiance grâce à la transparence et un niveau de communication inégalé.
                    <br/>
                    <br/>
                    Nous découvrons et mettons en œuvre en permanence les technologies les plus innovantes et émergentes, et nous avons des normes élevées et un engagement à fournir un travail exceptionnel. Sérieusement. Nous n'arrêterons pas de travailler sur un projet tant que vous ne nous aurez pas donné le 👍.
                </div>
                <h5 class="large-heading margin-top">Notre devise : L'intégrité est tout! </h5>
            </div>
            <div class="content-width-medium">
                <ul role="list" class="w-list-unstyled">
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">nous livrons sur la portée</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">Nous respectons le temps</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">Nous respectons le budget</h5>
                    </li>
                    <li class="icon-list-item icon-list-item-last align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">100% satisfaction client </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section no-bottom-space wf-section">
    <div class="container">
        <div class="cta-contained bg-primary-1">
            <div class="section-small cta-contained-content">
                <div class="content-width-medium">
                    <h3 class="heading-6">
                        “Notre équipe ne pourrait pas être plus impressionnée par leur ténacité
                        (<strong>dorment-ils jamais ?</strong>) 
                        et la volonté de tout arranger avec notre entreprise en ligne.”
                    </h3>
                    <div class="row row-justify-center row-align-center">
                        <img src="{% static 'img/icon/user-white.png' %}" alt="" class="avatar"/>
                        <div class="text-space-left-large text-left">
                            <div class="handwriting">Propriétaire d'entreprise</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h6 class="subheading text-primary-1">Notre travail parle de lui même!</h6>
                <h3>Nous offrons un service premium pour surpasser toutes vos attentes. (Même les plus élevés.)</h3>
                <div class="w-layout-grid grid-halves margin-top">
                    <div>
                        <h3 class="medium-heading text-primary-1">100+</h3>
                        <div>Livraison réussie de plus de 100+ projets. </div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">4⊹</h3>
                        <div>Construire des solutions depuis toujours, lorsque Harlem Shaking était phénomène viral.</div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">100%</h3>
                        <div>La satisfaction garantie n'est pas un slogan pour nous. Nous livrons. Période!</div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">7#</h3>
                        <div>Notre équipe à distance vous aidera peu importe où vous exercez votre activité.</div>
                    </div>
                </div>
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_aa0wy04q.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container">
        <div class="section-title">
            <h6 class="subheading text-primary-1">Rejoignez le meilleur écosystème jamais créé. (Ou ne le faites pas, et souffrez d'un FOMO majeur.)</h6>
            <h3>Découvrez nos incroyables partenaires.</h3>
        </div>
        <div class="w-layout-grid grid-thirds gapless-columns gapless-rows">
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/7.svg' %}" style="height: 100%;" alt="Shopify PLUS E-Commerce Platform " class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick border-sides-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/6.png' %}" style="height: 100%;" alt="ReCharge Payments Subscription Products" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/5.png' %}" style="height: 100%;" alt="Omnisend Email Marketing Platform" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/9.svg' %}" style="height: 100%;" alt="Gorgias Customer Service Platform" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick border-sides-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/2.png' %}" style="height: 100%;" alt="Smile.io Referral &amp; Loyalty Programs" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/3.png' %}" style="height: 100%;" height="" alt="YOTPO Reviews &amp; Loyalty Programs" class="icon-large-logos"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "fr/components/hey.html" %}
{% include "fr/components/contact.html" %}

{% endblock %}
