{% extends "fr/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="section wf-section">
    <div class="container">
        <div class="section-title">
            <h1 class="heading large-heading">
                Nous construisons des
                <a href="" class="link-3"><strong>Solutions</strong></a> 
                &amp;
                <a href="" class="link-4"><strong>Projets</strong></a>
                fonctionnels, performants et axés sur les résultats adaptés à votre entreprise.
            </h1>
            <a href="{% url 'services' %}" class="button margin-top w-inline-block">
                <div>consultez nos services</div>
            </a>
        </div>
        <div class="row row-justify-center">
            <div class="overlap-section-below">
                <div class="handwriting-wrapper">
                    <video class="ipad-hero-image" autoplay preload="auto">
                        <source src="{% static 'video/pres.mp4' %}" type="video/mp4">
                    </video>
                    <div class="handwriting-contents hidden-on-mobile">
                        <div class="handwriting rotate">100+ solutions lancées !</div>
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d9e62018c99_Handwriting%20Arrow%20Black.svg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h1 class="large-heading">Partenaire Elite à votre service. </h1>
                <div class="text-block-12">
                    Nous sommes considérés comme des experts de premier plan dans l'industrie, mais par-dessus tout, nous sommes fiers de notre réputation d'humains éthiques et décents. Dès le premier jour, nous gagnons votre confiance grâce à la transparence et un niveau de communication inégalé.
                    <br/>
                    <br/>
                    Nous découvrons et mettons en œuvre en permanence les technologies les plus innovantes et émergentes, et nous avons des normes élevées et un engagement à fournir un travail exceptionnel. Sérieusement. Nous n'arrêterons pas de travailler sur un projet tant que vous ne nous aurez pas donné le 👍.
                </div>
                <h5 class="large-heading margin-top">Notre devise : L'intégrité est tout! </h5>
            </div>
            <div class="content-width-medium">
                <ul role="list" class="w-list-unstyled">
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">nous livrons sur la portée</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">Nous respectons le temps</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">Nous respectons le budget</h5>
                    </li>
                    <li class="icon-list-item icon-list-item-last align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">100% satisfaction client </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section bottom-space-small wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-small">
                <h6 class="subheading text-primary-1">Construire. Lancer. Optimiser.</h6>
                <h3 class="large-heading">Des écosystèmes cloud conçus pour évoluer.</h3>
                <div class="article">
                    Nous sommes des experts des derniers outils, plateformes et technologies basés sur le cloud qui font passer votre entreprise de commerce électronique au niveau supérieur.
                    <a href="">
                        <strong>
                            <br/>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="content-width-large">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_bewdaxyv.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h3 class="large-heading margin-top">le succès est dans notre sang. </h3>
                <div class="content-text-block">
                    en tant que <strong>Votre futur partenaire</strong>
                    , nous sommes spécialisés dans la mise en œuvre d'infrastructures holistiques, robustes et percutantes pour votre entreprise qui souhaite une croissance rapide et une évolutivité.
                </div>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-2">Configuration de la pile technique</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="accordion-title">Amélioration SEO</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Développement web créatif</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Solutions sur mesure</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Fonctionnalités Hors de la boîte</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Intégrations tierces</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Migration vers le cloud</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Capacités B2B</div>
                    </li>
                </ul>
                <div class="row row-justify-center"></div>
            </div>
            <div class="content-width-medium">
                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web.jpg" width="506" sizes="(max-width: 479px) 95vw, (max-width: 767px) 90vw, (max-width: 991px) 506px, (max-width: 1919px) 46vw, 506px" srcset="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec34ead49f524f6eeb2ca3a_shopify-dashboard-web.jpg 1200w" alt="eCommerce Growth for Shopify Stores"/>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 bottom-space-small wf-section">
    <div class="container">
        <div class="w-layout-grid row row-split-content">
            <div class="content-width-medium">
                <h3 class="large-heading">
                    Transformer les grandes idées en succès commerciaux.<br />
                </h3>
                <div class="text-block-3">
                    Nous sommes passionnés par le fait de faire passer votre entreprise au niveau supérieur. Considérez-nous comme une extension de votre équipe; contactez-nous parce que nous aimons vous entendre!<br />
                </div>
            </div>
            <div class="content-width-medium">
                <div class="w-layout-grid grid-rows grid-rows-compact">
                    <div class="card shadow-small">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45b1193499d8787823220_fit.svg" width="48" alt="" class="image-2"/>
                                <div class="text-space-left">Vous avez une idée d'entreprise ? Nous allons faire de la magie pour le transformer en un produit numérique</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-small">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45c1258a3910650541235_interface.svg" width="48" alt=""/>
                                <div class="text-space-left">Êtes-vous déjà dans le commerce électronique et souhaitez-vous faire évoluer votre marque?</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-small no-bottom-space">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45d4df4edced29f446e0b_computer.svg" width="48" alt=""/>
                                <div class="text-space-left">Vous avez déjà une entreprise et souhaitez en l'automatiser?</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "fr/components/company.html" %}

{% include "fr/components/contact.html" %}
{% endblock %}
