{% load static %}

<div class="navbar-sticky bg-white">
    <div class="navigation-container">
        <div class="container-header">
            <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                <a href="/" aria-current="page" class="brand w-nav-brand w--current">
                    <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec483a68143fdf9b82a960a_pivofy-logo-simple.svg" alt="" class="image-3"/>
                </a>
                <a href="" class="badge hidden-on-mobile w-inline-block">
                    <div class="badge-bg badge-solid bg-primary-2"></div>
                    <div class="badge-text">We are hiring</div>
                </a>
                <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
                    <div class="nav-links nav-links-1">
                        <a href="" class="nav-link w-nav-link">Home</a>
                        <div data-delay="0" data-hover="true" class="nav-dropdown w-dropdown">
                            <div class="nav-link w-dropdown-toggle">
                                <div class="row no-wrap">
                                    <div class="text-block-header-menu">Services</div>
                                    <img src="https://uploads-ssl.webflow.com/60d2a2937b50b059d41f6ecb/60d2a2937b50b01e6d1f6f5a_icon-caret-down.svg" alt="" class="dropdown-icon"/>
                                </div>
                            </div>
                            <nav class="dropdown-list-2 w-dropdown-list">
                                <div class="dropdown-grid-2">
                                    <div class="dropdown-menu">
                                        <a href="" class="dropdown-link-2 w-dropdown-link">Service number 1</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div data-delay="0" data-hover="true" class="nav-dropdown w-dropdown">
                            <div class="nav-link w-dropdown-toggle">
                                <div class="row no-wrap">
                                    <div class="text-block-header-menu">Industries</div>
                                    <img src="https://uploads-ssl.webflow.com/60d2a2937b50b059d41f6ecb/60d2a2937b50b01e6d1f6f5a_icon-caret-down.svg" alt="" class="dropdown-icon"/>
                                </div>
                            </div>
                            <nav class="dropdown-list-2 w-dropdown-list">
                                <div class="dropdown-grid-2">
                                    <div class="dropdown-menu">
                                        <a href="" class="dropdown-link-2 w-dropdown-link">Industry number 1</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <a href="" class="nav-link w-nav-link">About</a>
                    </div>
                </nav>
                <div class="nav-menu-button-wrapper">
                    <div class="nav-functions">
                        <div class="modal-container">
                            <div class="modal">
                                <div class="modal-contents">
                                    <form action="/search" class="modal-search-form w-form">
                                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3dad80018c43_icon-search.svg" alt="" class="form-input-icon"/>
                                        <input type="search" class="form-input form-input-naked w-input" autofocus="true" maxlength="256" name="query" placeholder="Type your search" id="search-2" required=""/>
                                        <input type="submit" value="Search" class="button form-search-button w-button"/>
                                    </form>
                                </div>
                            </div>
                            <div data-w-id="57a97d93-8c1f-d5ed-61f5-9c8e1637bd8e" class="modal-screen"></div>
                        </div>
                        <a href="" class="button w-button">Let &#x27;s Talk</a>
                    </div>
                    <div class="menu-button w-nav-button">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3df357018c42_icon-menu.svg" alt="" class="menu-icon"/>
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d3777018c37_icon-x.svg" alt="" class="menu-cross-icon"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>