{% extends "en/base.html" %}

{% block title %}Hiring{% endblock %}

{% block content %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div>
            <h3>Project Manager - Ecommerce</h3>
            <h6 class="subheading text-primary-1">
                Tangier / Full Time / 2 Open Positions <br/>
            </h6>
            <h6 class="h6-small-2 margin-top">
                <strong>A few points on culture</strong>
            </h6>
            <ul role="list" class="w-list-unstyled">
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-19">We are not an agency and never will be. We are an extension of our clients’ teams. </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-20">We don’t have hierarchies. </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-21">We value freedom and independence. </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-22">We should enjoy working together.</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">We don’t like or tolerate BS.</div>
                </li>
            </ul>
            <h6 class="h6-small-2 margin-top">
                We are looking for two project managers with e-commerce experience to join our growing team.
                <strong>
                    <br/>
                </strong>
            </h6>
            <h5 class="margin-top">
                <strong>What You &#x27;ll Do</strong>
            </h5>
            <ul role="list" class="w-list-unstyled">
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-19">Work with clients to define, detail and strategize the scope of work</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-20">Schedule weekly meetings with clients and manage the relationship with their teams</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-21">Document the process, scope, tasks and timelines through Basecamp </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-22">Take full ownership of of the project and deliver on schedule</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Work with our technical partners and platforms to solve issues or challenges</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Provide ecommerce consulting on improving ecommerce KPI and the ecommerce tech stack</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Design basic wireframes to clarify to the client and internal teams the UX strategies and directions</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Handle hands-on store management requirements: setups, configurations, data entry, app installs, etc. </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Perform quality assurance before the project is delivered to clients</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Work with our technical and creative teams to identify and produce adequate and efficient solutions </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">Support client with instructions and documentation for self-management of store and third parties </div>
                </li>
            </ul>
            <h5 class="margin-top">
                <strong>Our Ideal Candidate</strong>
            </h5>
            <ul role="list" class="w-list-unstyled">
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-19">
                        <strong>Solid e-commerce experience</strong>
                        : Understands all aspects of e-commerce very well, including how disciplines are aligned with each other.
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-20">
                        <strong>Strong experience with Shopify</strong>
                        : Has an intimate understanding of the platform, its technology and its ecosystem of apps. 
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-21">
                        <strong>Good user experience design</strong>
                        : Knows and stays updated on user experience trends, conversion rate and e-commerce optimization strategies.
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-22">
                        <strong>Problem solver &amp;detail oriented</strong>
                        : Identifies red flags and connects the dots quickly to keep projects on track.
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">
                        <strong>Emotionally intelligent</strong>
                        : Good listener, self-aware, receptive to feedback and has the ability to develop a relationship with different people
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">
                        <strong>Agency project management experience</strong>
                        : 3+ years 
                    </div>
                </li>
            </ul>
            <h5 class="margin-top">
                <strong>Compensation and Benefits</strong>
            </h5>
            <ul role="list" class="w-list-unstyled">
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-20">Competitive Salary</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-20">21 Days PTO + Earned Seniority</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-18">
                        Health Benefits<br/>
                    </div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-21">Yearly company retreat</div>
                </li>
                <li class="dot-list-item-2">
                    <div class="list-dot-2 bg-primary-1"></div>
                    <div class="text-block-21">
                        Education and Professional Development Bonuses<br/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}