{% extends "en/base.html" %}

{% block title %}Hiring{% endblock %}

{% block content %}
{% load static %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h1 class="large-heading">Be part of an amazing remote team!</h1>
                <div class="text-block-12">
                    Shifty Solutions doesn't call itself an agency, nor does it operate like one. We believe in serving our clients as extensions of their teams. Globally-minded and results-driven, 
                    people who work at Shifty Solutions love the flexibility, compensation, camaraderie and the focus on producing great outcomes.
                    Join us and be part of a special team! (Or don't, and deliver a crushing blow to our egos.)
                </div>
                <h6 class="subheading text-primary-1 margin-top">Open positions</h6>
                <ul role="list" class="w-list-unstyled">
                    <li class="icon-list-item-2 align-center">
                        <div class="circle-small-3">
                            <img src="https://uploads-ssl.webflow.com/5ec7461ead11d952ffe3cd82/5ec7461f528af05990124631_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space-2"> Project Manager - Ecommerce (1)</h5>
                    </li>
                    <li class="icon-list-item-2 align-center">
                        <div class="circle-small-3">
                            <img src="https://uploads-ssl.webflow.com/5ec7461ead11d952ffe3cd82/5ec7461f528af05990124631_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space-2">Full Stack Developer - Django & React (1)</h5>
                    </li>
                </ul>
            </div>
            <div class="content-width-medium">
                <img src="{% static 'img/bg/3.jpg' %}" style="width: 100%;" class="bordered-image" />
            </div>
        </div>
    </div>
</div>
{% include "en/components/hey.html" %}
{% include "en/components/contact.html" %}

{% endblock %}
