{% extends "en/base.html" %}

{% block title %}About us{% endblock %}

{% block content %}
{% load static %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h1 class="large-heading">Elite Shopify Partner at your service. </h1>
                <div class="text-block-12">
                    We &#x27;re considered leading industry experts, but above all, we take pride in our reputation as ethical and decent humans. From day one, we earn your trust through transparency and an unmatched level of communication.<br/>
                    <br/>
                    We &#x27;re continually discovering and implementing the most innovative and emerging technologies, and we have high standards and a commitment to delivering exceptional work. Seriously. We won &#x27;t stop working on a project until you give us the 👍.<br/>
                </div>
                <h5 class="large-heading margin-top">Our motto: Integrity is everything! </h5>
            </div>
            <div class="content-width-medium">
                <ul role="list" class="w-list-unstyled">
                    <li class="icon-list-item align-center">
                        <div class="circle-small" style="background-color: #492386;">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">We deliver on scope</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small" style="background-color: #492386;">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">We deliver on time</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small" style="background-color: #492386;">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">We deliver on budget</h5>
                    </li>
                    <li class="icon-list-item icon-list-item-last align-center">
                        <div class="circle-small" style="background-color: #492386;">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <h5 class="no-bottom-space">100% client satisfaction </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h6 class="subheading text-primary-1">Our work speaks for itself!</h6>
                <h3>We provide a premium service to surpass all your expectations. (Even those really high ones.) </h3>
                <div class="w-layout-grid grid-halves margin-top">
                    <div>
                        <h3 class="medium-heading text-primary-1">100+</h3>
                        <div>Successful delivery of more than 100 projects. </div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">4⊹</h3>
                        <div>Building solutions since ever, when Harlem Shaking was a thing.</div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">100%</h3>
                        <div>Satisfaction guaranteed is not a slogan for us. We deliver. Period!</div>
                    </div>
                    <div>
                        <h3 class="medium-heading text-primary-1">7#</h3>
                        <div>Our remote team will help you no matter where you exercise your business.</div>
                    </div>
                </div>
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_aa0wy04q.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-small">
                <h6 class="subheading text-primary-1">Superpower your store with a </h6>
                <h3 class="large-heading">CUSTOM MADE APPLICATION</h3>
                <div class="text-block-12">
                    <p>From D2C brands to enterprises, we help great companies develop their dream applications for their Shopify stores.</p>
                    <p>Whether you are looking to build a private, public, or custom app, we'll build your dream application.</p>
                    <p>We can even create applications that allow you to customize personal experiences on your Shopify store.</p>
                </div>
               
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_0ntwvpmb.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_gri178ii.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
            </div>
            <div class="content-width-small">
                <h6 class="subheading text-primary-1">Build scalable commerce with</h6>
                <h3 class="large-heading">INTEGRATIONS</h3>
                <div class="text-block-12">
                    <p>No restrictions, no limits, only high-quality integrations that will truly solve and enhance your eCommerce. Not just for now - but for your scaling future.</p>
                    <p>Our talented team will deliver integrations, so your business can grow with your targets.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container">
        <div class="section-title">
            <h6 class="subheading text-primary-1">Join the best ecosystem ever created. (Or don't, and suffer major FOMO.)</h6>
            <h3>Check out our amazing partners.</h3>
        </div>
        <div class="w-layout-grid grid-thirds gapless-columns gapless-rows">
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/7.svg' %}" style="height: 100%;" alt="Shopify PLUS E-Commerce Platform " class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick border-sides-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/6.png' %}" style="height: 100%;" alt="ReCharge Payments Subscription Products" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/5.png' %}" style="height: 100%;" alt="Omnisend Email Marketing Platform" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/9.svg' %}" style="height: 100%;" alt="Gorgias Customer Service Platform" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick border-sides-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/2.png' %}" style="height: 100%;" alt="Smile.io Referral &amp; Loyalty Programs" class="icon-large-logos"/>
                </div>
            </div>
            <div class="padded-grid-item border-bottom-white-thick">
                <div class="centered-grid-item">
                    <img src="{% static 'img/partenairs/3.png' %}" style="height: 100%;" height="" alt="YOTPO Reviews &amp; Loyalty Programs" class="icon-large-logos"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section no-bottom-space wf-section">
    <div class="container">
        <div class="cta-contained bg-primary-1">
            <div class="section-small cta-contained-content">
                <div class="content-width-medium">
                    <h3 class="heading-6">
                        “Our team couldn’t be more impressed with their tenacity (<strong>do they ever sleep?</strong>
                        ) and willingness to make everything right with our online enterprise.”
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "en/components/hey.html" %}
{% include "en/components/contact.html" %}

{% endblock %}
