{% extends "en/base.html" %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div>
                <h1 class="large-heading">
                    Let's build the future of your business together!<br/>
                </h1>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Tech Stack Setup</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Creative Design &amp; Development</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>3rd Party Integrations &amp; Apps</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Complete Data Migrations </div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-16">SEO Preservation &amp; Enhancement </div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>B2B Capabilities &amp;Functionalities</div>
                    </li>
                </ul>
                <div class="w-layout-grid grid-halves margin-top">
                    <div class="row row-no-wrap row-align-center">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2f3de4f3f16559d2cb6_sand-clock.svg" width="36" alt="" class="icon-large-quote"/>
                        <div class="text-space-left">
                            <h6 class="heading-11">20-Days Guaranteed</h6>
                            <div class="text-block-23">
                                We &#x27;re fast, but we &#x27;re thorough! Efficient is our middle name.<br/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-no-wrap row-align-center">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2c4bd24f12b2c61cf1f_price-tag.svg" width="36" alt="" class="icon-large-quote"/>
                        <div class="text-space-left">
                            <h6 class="heading-12">Fixed Prices</h6>
                            <div class="text-block-24">We've built 100+ sites and know exactly what it takes.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-block container">
                <div class="card no-border shadow-small">
                    <div class="card-body">
                        <h6 class="text-primary-1 text-center">
                            Make your appointement
                        </h6>
                        <div class="calendly-inline-widget" data-url="https://calendly.com/shiftysolutions?hide_landing_page_details=1&hide_gdpr_banner=1&primary_color=492386" style="min-width:320px;height:630px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin-top"></div>
</div>
{% include "en/components/company.html" %}
{% endblock %}

{% block extrascripts %}
{% endblock %}