{% extends "en/base.html" %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div>
                <h1 class="large-heading">
                    Let's build the future of your business together!<br/>
                </h1>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Tech Stack Setup</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Creative Design &amp;Development</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>3rd Party Integrations &amp;Apps</div>
                    </li>
                    <li class="icon-grid-list-item-2">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Complete Data Migrations </div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-16">SEO Preservation &amp;Enhancement </div>
                    </li>
                    <li class="icon-grid-list-item-2 no-border">
                        <div class="circle-small-2">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>B2B Capabilities &amp;Functionalities</div>
                    </li>
                </ul>
                <div class="w-layout-grid grid-halves margin-top">
                    <div class="row row-no-wrap row-align-center">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2f3de4f3f16559d2cb6_sand-clock.svg" width="36" alt="" class="icon-large-quote"/>
                        <div class="text-space-left">
                            <h6 class="heading-11">15-Day Turnaround</h6>
                            <div class="text-block-23">
                                Let us take ownership and handle the headaches.<br/>
                            </div>
                        </div>
                    </div>
                    <div class="row row-no-wrap row-align-center">
                        <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5fb1f2c4bd24f12b2c61cf1f_price-tag.svg" width="36" alt="" class="icon-large-quote"/>
                        <div class="text-space-left">
                            <h6 class="heading-12">Flexible prices</h6>
                            <div class="text-block-24">We've built 100+ sites and know exactly what it takes.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-block content-width-large">
                <div class="card no-border shadow-small">
                    <div class="card-body">
                        <h6 class="subheading text-primary-1">
                            Fill out our form and we will get back to you within a few minutes.<br/>
                        </h6>
                        <div id="" class="w-form">
                            <form method="POST" action="{% url 'contact' %}">
                                <div class="form-grid-halves">
                                    <input type="text" class="form-input w-input" autofocus="true" maxlength="256" name="Name" data-name="Name" placeholder="Full Name" id="Name" required=""/>
                                    <input type="text" class="form-input w-input" maxlength="256" name="Organization" data-name="Organization" placeholder="Organization" id="Organization" required=""/>
                                </div>
                                <div class="form-grid-halves">
                                    <input type="email" class="form-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email" required=""/>
                                    <input type="tel" class="form-input w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone" id="Phone" required=""/>
                                </div>
                                <div class="form-group">
                                    <label id="new-website" class="w-checkbox radio-checkbox-with-label">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom radio-checkbox-custom"></div>
                                        <input type="checkbox" id="New Website" name="New-Website" data-name="New Website" style="opacity:0;position:absolute;z-index:-1"/>
                                        <span for="New Website-2" class="radio-checkbox-label w-form-label">I am building a brand new e-commerce website</span>
                                    </label>
                                    <label id="upgrade-website" class="w-checkbox radio-checkbox-with-label">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom radio-checkbox-custom"></div>
                                        <input type="checkbox" id="Upgrade Website" name="Upgrade-Website" data-name="Upgrade Website" style="opacity:0;position:absolute;z-index:-1"/>
                                        <span for="Upgrade Website-2" class="radio-checkbox-label w-form-label">I want to upgrade and re-design my current website</span>
                                    </label>
                                    <label id="migrate-website" class="w-checkbox radio-checkbox-with-label">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom radio-checkbox-custom"></div>
                                        <input type="checkbox" id="Migrate Website" name="Migrate-Website" data-name="Migrate Website" style="opacity:0;position:absolute;z-index:-1"/>
                                        <span for="Migrate Website-2" class="radio-checkbox-label w-form-label">I am migrating from another platform to Shopify</span>
                                    </label>
                                </div>
                                <div class="form-group" style="margin-bottom: 40px">
                                    <textarea name="Comments" maxlength="5000" id="Comments" required="" data-name="Comments" placeholder="Tell us more about your project" class="form-input text-area-input w-input"></textarea>
                                </div>
                                <input type="submit" value="Let's Talk" class="button button-block w-button"/>
                            </form>
                            <div class="form-feedback bg-success w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="form-feedback bg-error w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container margin-top"></div>
</div>
{% include "en/components/company.html" %}
{% endblock %}
