{% extends "en/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="section wf-section">
    <div class="container">
        <div class="section-title">
            <h1 class="heading large-heading">
                We build functional, high-performing and results-driven 
                <a href="" class="link-3"><strong>D2C</strong></a>
                &amp;
                <a href="" class="link-4"><strong>B2B</strong></a>
                ecommerce solutions for 
                <a href="" class="link-4"><strong>Shopify</strong></a>
            </h1>
            <a href="{% url 'en_services' %}" class="button margin-top w-inline-block">
                <div>Check Our Services</div>
            </a>
        </div>
        <div class="row row-justify-center">
            <div class="overlap-section-below">
                <div class="handwriting-wrapper">
                    <img class="ipad-hero-image" src="{% static 'img/bg/home.jpg' %}"
                    <video class="" autoplay preload="auto">
                        <source src="{}" type="video/mp4">
                    </video>
                    <div class="handwriting-contents hidden-on-mobile">
                        <div class="handwriting rotate" style="margin-left: 15px">Dozen solutions launched!</div>
                        <img src="{% static 'img/icon/arrow.svg' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container margin-top">
        <div class="row row-split-content">
            <div class="content-width-medium">
                <h1 class="large-heading">Elite Partner at your service. </h1>
                <div class="text-block-12">
                    We 're considered leading industry experts, but above all, we take pride in our reputation as ethical and decent humans. From day one, we earn your trust through transparency and an unmatched level of communication.<br>
                    <br>
                    We 're continually discovering and implementing the most innovative and emerging technologies, and we have high standards and a commitment to delivering exceptional work. Seriously. We won 't stop working on a project until you give us the 👍.<br>
                </div>
                <h5 class="large-heading margin-top">Our motto: Integrity is everything! </h5>
            </div>
            <div class="content-width-medium">
                <ul role="list" class="w-list-unstyled">
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <h5 class="no-bottom-space">We deliver on scope</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <h5 class="no-bottom-space">We deliver on time</h5>
                    </li>
                    <li class="icon-list-item align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <h5 class="no-bottom-space">We deliver on budget</h5>
                    </li>
                    <li class="icon-list-item icon-list-item-last align-center">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <h5 class="no-bottom-space">100% client satisfaction </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h3 class="large-heading margin-top">Success is in our blood. </h3>
                <div class="content-text-block">
                    As <strong>Your Future Partner</strong>
                    , we are specialists in implementing holistic, robust and impactful infrastructures to your business who want rapid growth, scalability. 
                </div>
                <ul role="list" class="list-grid margin-top w-list-unstyled">
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="text-block-2">Tech Stack Setup</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div class="accordion-title">SEO Enhancement</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Creative web developement</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Tailor-made soutions</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Out-of-the-box features</div>
                    </li>
                    <li class="icon-grid-list-item">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>3rd Party Integrations</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>Cloud Migration</div>
                    </li>
                    <li class="icon-grid-list-item no-border">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt=""/>
                        </div>
                        <div>B2B Capabilities</div>
                    </li>
                </ul>
                <div class="row row-justify-center"></div>
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_rli35wrb.json"  background="transparent"  speed="1"  style="width: 100%;" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_fclga8fl.json"  background="transparent"  speed="1"  style="width: 100%;"  loop  autoplay></lottie-player>
            </div>
            <div class="content-width-medium">
                <h3 class="large-heading margin-top">There's an app for that*<br />
                    And if there isn’t, we’ll build one.</h3>
                <div class="content-text-block">
                    Shifty solutions is at the forefront of Shopify public app and private app development. If there’s something you need your website to do outside the parameters of the standard Shopify platform, then talk to us about your needs for bespoke functionality.
                    <br />
                    Though the abundance of ecommerce apps in the Shopify app store keeps growing every day, merchants still often need something special to fit their business needs and stay ahead of the competition. Also, being the owner of a private Shopify app ensures you against such problems as app conflicts, insufficient functionality, and the lack of vendor support.
                </div>
                <div class="row row-justify-center"></div>
            </div>          
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h3 class="large-heading margin-top">Got an idea for an app?</h3>
                <div class="content-text-block">
                    Our development team can also build apps for you to list and sell in the Shopify store under your name. If your business provides a service that you want to offer to Shopify users, we can help you create an app to integrate your solution into merchants’ stores. If you want to convert an online service into a Shopify integration, but don’t have the resource to build your own public app, we can build it to your specification, under your name.
                </div>
                <div class="row row-justify-center"></div>
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_sk5h1kfn.json"  background="transparent"  speed="1"  style="width: 100%; " loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 bottom-space-small wf-section">
    <div class="container">
        <div class="row row-split-content">
            <div class="content-width-small">
                <h6 class="subheading text-primary-1">Build. Launch. Optimize.</h6>
                <h3 class="large-heading">Cloud ecosystems built to scale.</h3>
                <div class="article">
                    We’re experts in the latest cloud-based tools, platforms and technologies that take your ecommerce business to the next level.
                    <a href="">
                        <strong>
                            <br/>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="content-width-large">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_bewdaxyv.json"  background="transparent"  speed="1"  style="width: 100%;"  loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container">
        <div class="row row-split-content direction-reverse">
            <div class="content-width-medium">
                <h3 class="large-heading margin-top">Why you should develop an app?</h3>
                <div class="content-text-block">
                    Shopify app development is gaining momentum because it gives the owners of tailored apps several privileges that are inaccessible with ready-made options. To give some examples, merchants can
                </div>
                <ul role="list" class="margin-top w-list-unstyled">
                    <li class="icon-grid-list-item" style="margin-top: 20px; margin-left: 20px;">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <div class="text-block-2">Avoid subscription payments and vendor lock-in</div>
                    </li>
                    <li class="icon-grid-list-item" style="margin-top: 20px; margin-left: 20px;">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <div class="accordion-title">Add features that are not available on existing Shopify apps</div>
                    </li>
                    <li class="icon-grid-list-item" style="margin-top: 20px; margin-left: 20px;">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <div>Minimize maintenance costs and compatibility issues</div>
                    </li>
                    <li class="icon-grid-list-item" style="margin-top: 20px; margin-left: 20px;">
                        <div class="circle-small">
                            <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5eb23de768fa3d1f89018c98_icon-check-small.svg" alt="">
                        </div>
                        <div>Upgrade a custom app that was provided by another vendor</div>
                    </li>
                </ul>
                <div class="row row-justify-center"></div>
            </div>
            <div class="content-width-medium">
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ssaoeg55.json"  background="transparent"  speed="1"  style="width: 100%; height: ;"  loop  autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gray-4 bottom-space-small wf-section">
    <div class="container">
        <div class="w-layout-grid row row-split-content">
            <div class="content-width-medium">
                <h3 class="large-heading">
                    Transforming great ideas into commercial successes.<br/>
                </h3>
                <div class="text-block-3">
                    We are passionate about taking your business to the next level. Consider us an extension of your team; reach out to us because we love to hear from you! <br/>
                </div>
            </div>
            <div class="content-width-medium">
                <div class="w-layout-grid grid-rows grid-rows-compact">
                    <div class="card shadow-small">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45b1193499d8787823220_fit.svg" width="48" alt="" class="image-2"/>
                                <div class="text-space-left">Got a business idea? We will make magic to transform it into a digital product</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-small">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45c1258a3910650541235_interface.svg" width="48" alt=""/>
                                <div class="text-space-left">Are you already in ecommerce and want to upgrade your brand with an effective custom shopify application?</div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-small no-bottom-space">
                        <div class="card-body">
                            <div class="row row-no-wrap row-align-center">
                                <img src="https://uploads-ssl.webflow.com/5eb23de733da8a2a8053cb31/5ec45d4df4edced29f446e0b_computer.svg" width="48" alt=""/>
                                <div class="text-space-left">Can’t find what you need in the Shopify app store? </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "en/components/company.html" %}

{% include "en/components/contact.html" %}
{% endblock %}